body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


.loader{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}


.loader.hidden{
    animation: fadeout 1s;
    -webkit-animation: fadeout 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {

    100%{
        opacity: 0;
        visibility: hidden;
    }
    
}









h2 {
    font-size: 40px;
}



.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
 
}


.box img{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}



