body{
    height: 2000px;
    display: flex;
    background: #525252;
    direction: rtl;
    
  
}
.container{
    width:1200px;
    margin: 0 auto;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 40px 0;
  transition:all .3s ease-in-out ;
  -webkit-transition:all .3s ease-in-out ;
  -moz-transition:all .3s ease-in-out ;
  -ms-transition:all .3s ease-in-out ;
  -o-transition:all .3s ease-in-out ;
}
header.sticky{
    padding: 0 0;
    background-color: white;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header ul {
    display: flex;
    list-style: none;
}

header ul li{
    margin: 0 0 0 15px;
}


header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;

}
header.sticky a{
    color: black;
}


header a{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-size: larger;
    font-size: 40px;
}


.banner{
background-image: url(img/1.jpg);
width: 100%;
height: 100%;
background-repeat: no-repeat;

}
